html, body {
  margin: 0;
}

html {
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  height: 100%;
}

body {
  overflow: hidden;
  height: inherit;
  background-color: black;
}

.h1 {
  font-size: 2rem;
  letter-spacing: -1px;
  position: absolute;
  margin: 0;
  top: -4px;
  right: 5px;

  color: transparent;
  text-shadow: 0 0 4px white;
}

#num {
  display:flex;
  justify-content:center;
  font-size:4vw;
  margin:0px;
}

.btn {
  color:white;
} 

.pain {
  display:flex;
  justify-content:center;
  align-items:center;
  width:30vw;
  height:30vh;
  color:black;
  font-size:2vw;
  /* font-family:  "Comic Sans MS", "Comic Sans", cursive; */
  text-decoration:none;
}
  .main {
  display:flex;
  justify-content:center;
  align-items:center;
}
